:root {
  /* ======= Color primitives ======= */
  --transparent_white: rgba(255, 255, 255, 0);
  --transparent_black: rgba(0, 0, 0, 0);
  --color-primary-50: rgba(244, 243, 255, 1);
  --color-primary-100: rgba(234, 232, 255, 1);
  --color-primary-200: rgba(215, 213, 255, 1);
  --color-primary-300: rgba(187, 179, 255, 1);
  --color-primary-400: rgba(137, 122, 255, 1);
  --color-primary-500: rgba(123, 92, 250, 1);
  --color-primary-500_alpha_12: rgba(123, 92, 250, 0.11999999731779099);
  --color-primary-500_alpha_20: rgba(123, 92, 250, 0.20000000298023224);
  --color-primary-500_alpha_24: rgba(123, 92, 250, 0.23999999463558197);
  --color-primary-500_alpha_40: rgba(123, 92, 250, 0.4000000059604645);
  --color-primary-600: rgba(102, 53, 242, 1);
  --color-primary-700: rgba(88, 36, 221, 1);
  --color-primary-800: rgba(73, 29, 186, 1);
  --color-primary-900: rgba(49, 21, 124, 1);
  --color-primary-950: rgba(25, 11, 63, 1);
  --color-secondary-50: rgba(255, 243, 253, 1);
  --color-secondary-100: rgba(255, 230, 253, 1);
  --color-secondary-200: rgba(255, 204, 250, 1);
  --color-secondary-300: rgba(255, 163, 242, 1);
  --color-secondary-400: rgba(255, 109, 233, 1);
  --color-secondary-500: rgba(255, 46, 231, 1);
  --color-secondary-500_alpha_12: rgba(255, 46, 231, 0.11999999731779099);
  --color-secondary-500_alpha_20: rgba(255, 46, 231, 0.20000000298023224);
  --color-secondary-500_alpha_24: rgba(255, 46, 231, 0.23999999463558197);
  --color-secondary-500_alpha_40: rgba(255, 46, 231, 0.4000000059604645);
  --color-secondary-600: rgba(227, 22, 199, 1);
  --color-secondary-700: rgba(189, 14, 162, 1);
  --color-secondary-800: rgba(154, 14, 131, 1);
  --color-secondary-900: rgba(126, 17, 105, 1);
  --color-secondary-950: rgba(75, 0, 59, 1);
  --color-gray-50: rgba(249, 249, 250, 1);
  --color-gray-100: rgba(242, 242, 244, 1);
  --color-gray-200: rgba(235, 236, 240, 1);
  --color-gray-300: rgba(221, 223, 228, 1);
  --color-gray-400: rgba(195, 198, 204, 1);
  --color-gray-500: rgba(175, 179, 187, 1);
  --color-gray-600: rgba(140, 146, 156, 1);
  --color-gray-700: rgba(91, 97, 109, 1);
  --color-gray-800: rgba(65, 70, 81, 1);
  --color-gray-900: rgba(34, 39, 50, 1);
  --color-gray-950: rgba(10, 12, 17, 1);
  --color-dark-50: rgba(248, 248, 248, 1);
  --color-dark-100: rgba(244, 244, 244, 1);
  --color-dark-200: rgba(238, 238, 238, 1);
  --color-dark-300: rgba(225, 225, 225, 1);
  --color-dark-400: rgba(199, 199, 199, 1);
  --color-dark-500: rgba(125, 125, 125, 1);
  --color-dark-600: rgba(45, 45, 45, 1);
  --color-dark-700: rgba(33, 33, 33, 1);
  --color-dark-800: rgba(23, 23, 23, 1);
  --color-dark-900: rgba(17, 17, 17, 1);
  --color-dark-950: rgba(7, 7, 7, 1);
  --color-white-4: rgba(255, 255, 255, 0.03999999910593033);
  --color-white-7: rgba(255, 255, 255, 0.07000000029802322);
  --color-white-12: rgba(255, 255, 255, 0.11999999731779099);
  --color-white-16: rgba(255, 255, 255, 0.1599999964237213);
  --color-white-24: rgba(255, 255, 255, 0.23999999463558197);
  --color-white-32: rgba(255, 255, 255, 0.3199999928474426);
  --color-white-48: rgba(255, 255, 255, 0.47999998927116394);
  --color-white-56: rgba(255, 255, 255, 0.5600000023841858);
  --color-white-64: rgba(255, 255, 255, 0.6399999856948853);
  --color-white-72: rgba(255, 255, 255, 0.7200000286102295);
  --color-white-88: rgba(255, 255, 255, 0.8799999952316284);
  --color-white-100: rgba(255, 255, 255, 1);
  --color-black-4: rgba(0, 0, 0, 0.03999999910593033);
  --color-black-7: rgba(0, 0, 0, 0.07000000029802322);
  --color-black-12: rgba(0, 0, 0, 0.11999999731779099);
  --color-black-16: rgba(0, 0, 0, 0.1599999964237213);
  --color-black-24: rgba(0, 0, 0, 0.23999999463558197);
  --color-black-32: rgba(0, 0, 0, 0.3199999928474426);
  --color-black-48: rgba(0, 0, 0, 0.47999998927116394);
  --color-black-56: rgba(0, 0, 0, 0.5600000023841858);
  --color-black-64: rgba(0, 0, 0, 0.6399999856948853);
  --color-black-72: rgba(0, 0, 0, 0.7200000286102295);
  --color-black-88: rgba(0, 0, 0, 0.8799999952316284);
  --color-black-100: rgba(0, 0, 0, 1);
  --color-info-50: rgba(241, 248, 254, 1);
  --color-info-100: rgba(222, 239, 253, 1);
  --color-info-200: rgba(188, 223, 250, 1);
  --color-info-300: rgba(146, 203, 247, 1);
  --color-info-400: rgba(89, 176, 243, 1);
  --color-info-500: rgba(17, 139, 232, 1);
  --color-info-500_alpha_12: rgba(17, 139, 232, 0.11999999731779099);
  --color-info-500_alpha_20: rgba(17, 139, 232, 0.20000000298023224);
  --color-info-500_alpha_24: rgba(17, 139, 232, 0.23999999463558197);
  --color-info-500_alpha_40: rgba(17, 139, 232, 0.4000000059604645);
  --color-info-600: rgba(16, 128, 214, 1);
  --color-info-700: rgba(14, 111, 185, 1);
  --color-info-800: rgba(11, 91, 152, 1);
  --color-info-900: rgba(8, 65, 109, 1);
  --color-info-950: rgba(0, 29, 56, 1);
  --color-success-50: rgba(232, 251, 229, 1);
  --color-success-100: rgba(212, 247, 207, 1);
  --color-success-200: rgba(169, 239, 159, 1);
  --color-success-300: rgba(127, 231, 111, 1);
  --color-success-400: rgba(80, 223, 58, 1);
  --color-success-500: rgba(53, 194, 32, 1);
  --color-success-500_alpha_12: rgba(53, 194, 32, 0.11999999731779099);
  --color-success-500_alpha_20: rgba(53, 194, 32, 0.20000000298023224);
  --color-success-500_alpha_24: rgba(53, 194, 32, 0.23999999463558197);
  --color-success-500_alpha_40: rgba(53, 194, 32, 0.4000000059604645);
  --color-success-600: rgba(42, 153, 25, 1);
  --color-success-700: rgba(33, 118, 19, 1);
  --color-success-800: rgba(22, 79, 13, 1);
  --color-success-900: rgba(13, 49, 7, 1);
  --color-success-950: rgba(8, 32, 5, 1);
  --color-warning-50: rgba(255, 248, 230, 1);
  --color-danger-50: rgba(254, 236, 236, 1);
  --color-danger-100: rgba(252, 217, 217, 1);
  --color-danger-200: rgba(249, 179, 179, 1);
  --color-danger-300: rgba(246, 137, 137, 1);
  --color-danger-400: rgba(243, 99, 99, 1);
  --color-danger-500: rgba(240, 61, 61, 1);
  --color-danger-500_alpha_12: rgba(240, 61, 61, 0.11999999731779099);
  --color-danger-500_alpha_20: rgba(240, 61, 61, 0.20000000298023224);
  --color-danger-500_alpha_24: rgba(240, 61, 61, 0.23999999463558197);
  --color-danger-500_alpha_40: rgba(240, 61, 61, 0.4000000059604645);
  --color-danger-600: rgba(233, 32, 32, 1);
  --color-danger-700: rgba(166, 13, 13, 1);
  --color-danger-800: rgba(114, 9, 9, 1);
  --color-danger-900: rgba(74, 6, 6, 1);
  --color-danger-950: rgba(36, 0, 0, 1);
  --color-warning-100: rgba(254, 242, 205, 1);
  --color-warning-200: rgba(254, 229, 154, 1);
  --color-warning-300: rgba(253, 216, 104, 1);
  --color-warning-400: rgba(253, 203, 53, 1);
  --color-warning-500: rgba(252, 191, 4, 1);
  --color-warning-500_alpha_12: rgba(252, 191, 4, 0.11999999731779099);
  --color-warning-500_alpha_20: rgba(252, 191, 4, 0.20000000298023224);
  --color-warning-500_alpha_24: rgba(252, 191, 4, 0.23999999463558197);
  --color-warning-500_alpha_40: rgba(252, 191, 4, 0.4000000059604645);
  --color-warning-600: rgba(202, 152, 2, 1);
  --color-warning-700: rgba(151, 114, 2, 1);
  --color-warning-800: rgba(101, 76, 1, 1);
  --color-warning-900: rgba(74, 57, 2, 1);
  --color-warning-950: rgba(45, 32, 0, 1);

  /* ======= Shadows ======= */
  --effect-shadow-e0: var(--color-transparent);
  --effect-shadow-e1: var(--color-black-7);
  --effect-shadow-e2: var(--color-black-12);
  --effect-shadow-e3: var(--color-black-16);

  /* ======= theme ======= */
  --surface-surface_1: var(--color-gray-50);
  --surface-surface_2: var(--color-gray-100);
  --surface-surface_3: var(--color-gray-200);
  --surface-surface_4: var(--color-gray-300);

  --surface-smoke_gray: var(--surface-surface_2);
  --surface-smoke_gray_em: var(--surface-surface_2);

  --surface-white_smoke_0: var(--color-white-100);
  --surface-white_smoke_1: var(--surface-white_smoke_0);
  --surface-white_smoke_2: var(--surface-white_smoke_0);
  --surface-white_smoke_3: var(--surface-white_smoke_0);
  --surface-white_smoke_4: var(--surface-white_smoke_0);
  --surface-surface_1: var(--color-gray-50);

  --surface-white: var(--color-white-100);
  --surface-black: var(--color-black-100);

  --surface-inverse_white_neutral: var(--color-black-100);
  --surface-inverse_black_neutral: var(--color-white-100);

  --surface-disabled_high_em: var(--color-gray-500);
  --surface-disabled_med_em: var(--color-gray-400);
  --surface-disabled_low_em: var(--color-gray-200);
  --surface-disabled_base_em: var(--color-gray-100);

  --surface-primary_high_em: var(--color-primary-500);
  --surface-primary_med_em: var(--color-primary-400);
  --surface-primary_low_em: var(--color-primary-100);
  --surface-primary_base_em: var(--color-primary-50);
  --surface-primary_low_em_alpha: var(--color-primary-500_alpha_20);
  --surface-primary_base_em_alpha: var(--color-primary-500_alpha_12);

  --surface-secondary_high_em: var(--color-secondary-500);
  --surface-secondary_med_em: var(--color-secondary-400);
  --surface-secondary_low_em: var(--color-secondary-100);
  --surface-secondary_base_em: var(--color-secondary-50);
  --surface-secondary_low_em_alpha: var(--color-secondary-500_alpha_20);
  --surface-secondary_base_em_alpha: var(--color-secondary-500_alpha_12);

  --surface-success_high_em: var(--color-success-500);
  --surface-success_med_em: var(--color-success-400);
  --surface-success_low_em: var(--color-success-100);
  --surface-success_base_em: var(--color-success-50);
  --surface-success_low_em_alpha: var(--color-success-500_alpha_20);
  --surface-success_low_em_alpha-2: var(--color-success-500_alpha_20);
  --surface-success_base_em_alpha: var(--color-success-500_alpha_12);

  --surface-info_high_em: var(--color-info-500);
  --surface-info_med_em: var(--color-info-400);
  --surface-info_low_em: var(--color-info-100);
  --surface-info_base_em: var(--color-info-50);
  --surface-info_low_em_alpha: var(--color-info-500_alpha_20);
  --surface-info_base_em_alpha: var(--color-info-500_alpha_12);

  --surface-warning_high_em: var(--color-warning-500);
  --surface-warning_med_em: var(--color-warning-400);
  --surface-warning_low_em: var(--color-warning-100);
  --surface-warning_base_em: var(--color-warning-50);
  --surface-warning_low_em_alpha: var(--color-warning-500_alpha_20);
  --surface-warning_base_em_alpha: var(--color-warning-500_alpha_12);

  --surface-danger_high_em: var(--color-danger-500);
  --surface-danger_med_em: var(--color-danger-400);
  --surface-danger_low_em: var(--color-danger-100);
  --surface-danger_base_em: var(--color-danger-50);
  --surface-danger_low_em_alpha: var(--color-danger-500_alpha_20);
  --surface-danger_base_em_alpha: var(--color-danger-500_alpha_12);

  --text-high_em: var(--color-gray-950);
  --text-med_em: var(--color-gray-700);
  --text-low_em: var(--color-gray-600);
  --text-base_em: var(--color-gray-400);
  --text-white: var(--color-white-100);
  --text-black: var(--color-black-100);
  --text-inverse_white_neutral: var(--color-black-100);
  --text-inverse_black_neutral: var(--color-white-100);
  --text-primary_high_em: var(--color-primary-600);
  --text-primary_med_em: var(--color-primary-500);
  --text-primary_low_em: var(--color-primary-300);
  --text-primary_base_em: var(--color-primary-100);
  --text-secondary_high_em: var(--color-secondary-600);
  --text-secondary_med_em: var(--color-secondary-500);
  --text-secondary_low_em: var(--color-secondary-300);
  --text-secondary_base_em: var(--color-secondary-100);
  --text-success_high_em: var(--color-success-600);
  --text-success_med_em: var(--color-success-500);
  --text-success_low_em: var(--color-success-300);
  --text-success_base_em: var(--color-success-100);
  --text-info_high_em: var(--color-info-600);
  --text-info_med_em: var(--color-info-500);
  --text-info_low_em: var(--color-info-300);
  --text-info_base_em: var(--color-info-100);
  --text-warning_high_em: var(--color-warning-600);
  --text-warning_med_em: var(--color-warning-500);
  --text-warning_low_em: var(--color-warning-300);
  --text-warning_base_em: var(--color-warning-100);
  --text-danger_high_em: var(--color-danger-600);
  --text-danger_med_em: var(--color-danger-500);
  --text-danger_low_em: var(--color-danger-300);
  --text-danger_base_em: var(--color-danger-100);

  --outline-high_em: var(--color-gray-400);
  --outline-med_em: var(--color-gray-300);
  --outline-low_em: var(--color-gray-200);
  --outline-base_em: var(--color-gray-100);
  --outline-white: var(--color-white-100);
  --outline-black: var(--color-black-100);
  --outline-inverse_white_neutral: var(--color-black-100);
  --outline-inverse_black_neutral: var(--color-white-100);
  --outline-primary-high-em: var(--color-primary-500);
  --outline-primary_med_em: var(--color-primary-300);
  --outline-primary_low_em: var(--color-primary-200);
  --outline-primary_base_em: var(--color-primary-100);
  --outline-primary_alpha: var(--color-primary-500_alpha_24);
  --outline-secondary-high-em: var(--color-secondary-500);
  --outline-secondary-med-em: var(--color-secondary-300);
  --outline-secondary-low-em: var(--color-secondary-200);
  --outline-secondary-base-em: var(--color-secondary-100);
  --outline-secondary_alpha: var(--color-secondary-500_alpha_24);
  --outline-success_high_em: var(--color-success-500);
  --outline-success_med_em: var(--color-success-300);
  --outline-success_low_em: var(--color-success-200);
  --outline-success_base_em: var(--color-success-100);
  --outline-success_alpha: var(--color-success-500_alpha_24);
  --outline-info_high_em: var(--color-info-500);
  --outline-info_med_em: var(--color-info-300);
  --outline-info_low_em: var(--color-info-200);
  --outline-info_base_em: var(--color-info-100);
  --outline-info_alpha: var(--color-info-500_alpha_24);
  --outline-warning_high_em: var(--color-warning-500);
  --outline-warning_med_em: var(--color-warning-300);
  --outline-warning_low_em: var(--color-warning-200);
  --outline-warning_base_em: var(--color-warning-100);
  --outline-warning_alpha: var(--color-warning-500_alpha_24);
  --outline-danger_high_em: var(--color-danger-500);
  --outline-danger_med_em: var(--color-danger-300);
  --outline-danger_low_em: var(--color-danger-200);
  --outline-danger_base_em: var(--color-danger-100);
  --outline-danger_alpha: var(--color-danger-500_alpha_24);
  --outline-primary_special_top: var(--color-black-12);
  --outline-primary_special_bottom: var(--color-black-24);
  --outline-secondary_special_top: var(--color-black-4);
  --outline-secondary_special_bottom: var(--color-black-7);
  --outline-none: var(--transparent_white);

  --neutral_inverse_white-alpha_4: var(--color-black-4);
  --neutral_inverse_white-alpha_7: var(--color-black-7);
  --neutral_inverse_white-alpha_12: var(--color-black-12);
  --neutral_inverse_white-alpha_16: var(--color-black-16);
  --neutral_inverse_white-alpha_24: var(--color-black-24);
  --neutral_inverse_white-alpha_32: var(--color-black-32);
  --neutral_inverse_white-alpha_48: var(--color-black-48);
  --neutral_inverse_white-alpha_56: var(--color-black-56);
  --neutral_inverse_white-alpha_64: var(--color-black-64);
  --neutral_inverse_white-alpha_76: var(--color-black-72);
  --neutral_inverse_white-alpha_88: var(--color-black-88);
  --neutral_inverse_black-alpha_4: var(--color-white-4);
  --neutral_inverse_black-alpha_7: var(--color-white-7);
  --neutral_inverse_black-alpha_12: var(--color-white-12);
  --neutral_inverse_black-alpha_16: var(--color-white-16);
  --neutral_inverse_black-alpha_24: var(--color-white-24);
  --neutral_inverse_black-alpha_32: var(--color-white-32);
  --neutral_inverse_black-alpha_48: var(--color-white-48);
  --neutral_inverse_black-alpha_56: var(--color-white-56);
  --neutral_inverse_black-alpha_64: var(--color-white-64);
  --neutral_inverse_black-alpha_76: var(--color-white-72);
  --neutral_inverse_black-alpha_88: var(--color-white-88);

  --elevation-shadow: var(--color-black-4);
  --overlay-high_em: var(--color-black-48);
  --overlay-med_em: var(--color-black-24);
  --transparent_inverse: var(--transparent_white);
}

[data-theme="dark"] {
  --surface-surface_1: var(--color-dark-900);
  --surface-surface_2: var(--color-dark-800);
  --surface-surface_3: var(--color-dark-700);
  --surface-surface_4: var(--color-dark-600);

  --surface-smoke_gray: var(--surface-surface_3);
  --surface-smoke_gray_em: var(--surface-surface_4);

  --surface-white_smoke_0: var(--color-dark-950);
  --surface-white_smoke_1: var(--surface-surface_1);
  --surface-white_smoke_2: var(--surface-surface_2);
  --surface-white_smoke_3: var(--surface-surface_3);
  --surface-white_smoke_4: var(--surface-surface_4);

  --surface-white: var(--color-white-100);
  --surface-black: var(--color-black-100);

  --surface-inverse_white_neutral: var(--color-white-100);
  --surface-inverse_black_neutral: var(--color-black-100);

  --surface-disabled_high_em: var(--color-white-32);
  --surface-disabled_med_em: var(--color-white-24);
  --surface-disabled_low_em: var(--color-white-16);
  --surface-disabled_base_em: var(--color-white-7);

  --surface-primary_high_em: var(--color-primary-300);
  --surface-primary_med_em: var(--color-primary-400);
  --surface-primary_low_em: var(--color-primary-900);
  --surface-primary_base_em: var(--color-primary-950);
  --surface-primary_low_em_alpha: var(--color-primary-500_alpha_20);
  --surface-primary_base_em_alpha: var(--color-primary-500_alpha_12);

  --surface-secondary_high_em: var(--color-secondary-300);
  --surface-secondary_med_em: var(--color-secondary-400);
  --surface-secondary_low_em: var(--color-secondary-900);
  --surface-secondary_base_em: var(--color-secondary-950);
  --surface-secondary_low_em_alpha: var(--color-secondary-500_alpha_20);
  --surface-secondary_base_em_alpha: var(--color-secondary-500_alpha_12);

  --surface-success_high_em: var(--color-success-300);
  --surface-success_med_em: var(--color-success-400);
  --surface-success_low_em: var(--color-success-900);
  --surface-success_base_em: var(--color-success-950);
  --surface-success_low_em_alpha: var(--color-success-500_alpha_20);
  --surface-success_low_em_alpha-2: rgba(80, 223, 58, 0.20000000298023224);
  --surface-success_base_em_alpha: var(--color-success-500_alpha_12);

  --surface-info_high_em: var(--color-info-300);
  --surface-info_med_em: var(--color-info-400);
  --surface-info_low_em: var(--color-info-900);
  --surface-info_base_em: var(--color-info-950);
  --surface-info_low_em_alpha: var(--color-info-500_alpha_20);
  --surface-info_base_em_alpha: var(--color-info-500_alpha_12);

  --surface-warning_high_em: var(--color-warning-300);
  --surface-warning_med_em: var(--color-warning-400);
  --surface-warning_low_em: var(--color-warning-900);
  --surface-warning_base_em: var(--color-warning-950);
  --surface-warning_low_em_alpha: var(--color-warning-500_alpha_20);
  --surface-warning_base_em_alpha: var(--color-warning-500_alpha_12);

  --surface-danger_high_em: var(--color-danger-300);
  --surface-danger_med_em: var(--color-danger-400);
  --surface-danger_low_em: var(--color-danger-900);
  --surface-danger_base_em: var(--color-danger-950);
  --surface-danger_low_em_alpha: var(--color-danger-500_alpha_20);
  --surface-danger_base_em_alpha: var(--color-danger-500_alpha_12);

  --text-high_em: var(--color-white-100);
  --text-med_em: var(--color-white-72);
  --text-low_em: var(--color-white-48);
  --text-base_em: var(--color-white-32);

  --text-white: var(--color-white-100);
  --text-black: var(--color-black-100);

  --text-inverse_white_neutral: var(--color-white-100);
  --text-inverse_black_neutral: var(--color-black-100);

  --text-primary_high_em: var(--color-primary-300);
  --text-primary_med_em: var(--color-primary-400);
  --text-primary_low_em: var(--color-primary-700);
  --text-primary_base_em: var(--color-primary-900);

  --text-secondary_high_em: var(--color-secondary-300);
  --text-secondary_med_em: var(--color-secondary-400);
  --text-secondary_low_em: var(--color-secondary-700);
  --text-secondary_base_em: var(--color-secondary-900);

  --text-success_high_em: var(--color-success-300);
  --text-success_med_em: var(--color-success-400);
  --text-success_low_em: var(--color-success-700);
  --text-success_base_em: var(--color-success-900);

  --text-info_high_em: var(--color-info-300);
  --text-info_med_em: var(--color-info-400);
  --text-info_low_em: var(--color-info-700);
  --text-info_base_em: var(--color-info-900);

  --text-warning_high_em: var(--color-warning-300);
  --text-warning_med_em: var(--color-warning-400);
  --text-warning_low_em: var(--color-warning-700);
  --text-warning_base_em: var(--color-warning-900);

  --text-danger_high_em: var(--color-danger-300);
  --text-danger_med_em: var(--color-danger-400);
  --text-danger_low_em: var(--color-danger-700);
  --text-danger_base_em: var(--color-danger-900);

  --outline-high_em: var(--color-white-16);
  --outline-med_em: var(--color-white-12);
  --outline-low_em: var(--color-white-7);
  --outline-base_em: var(--color-white-4);
  --outline-white: var(--color-white-100);
  --outline-black: var(--color-black-100);
  --outline-inverse_white_neutral: var(--color-white-100);
  --outline-inverse_black_neutral: var(--color-black-100);
  --outline-primary-high-em: var(--color-primary-300);
  --outline-primary-med-em: var(--color-primary-600);
  --outline-primary-low-em: var(--color-primary-800);
  --outline-primary-base-em: var(--color-primary-950);
  --outline-primary_alpha: var(--color-primary-500_alpha_40);
  --outline-secondary-high-em: var(--color-secondary-300);
  --outline-secondary-med-em: var(--color-secondary-600);
  --outline-secondary-low-em: var(--color-secondary-800);
  --outline-secondary-base-em: var(--color-secondary-950);
  --outline-secondary_alpha: var(--color-secondary-500_alpha_40);
  --outline-success-high-em: var(--color-success-300);
  --outline-success-med-em: var(--color-success-600);
  --outline-success-low-em: var(--color-success-800);
  --outline-success-base-em: var(--color-success-950);
  --outline-success_alpha: var(--color-success-500_alpha_40);
  --outline-info-high-em: var(--color-info-300);
  --outline-info-med-em: var(--color-info-600);
  --outline-info-low-em: var(--color-info-800);
  --outline-info-base-em: var(--color-info-950);
  --outline-info_alpha: var(--color-info-500_alpha_40);
  --outline-warning-high-em: var(--color-warning-300);
  --outline-warning-med-em: var(--color-warning-600);
  --outline-warning-low-em: var(--color-warning-800);
  --outline-warning-base-em: var(--color-warning-950);
  --outline-warning_alpha: var(--color-warning-500_alpha_40);
  --outline-danger-high-em: var(--color-danger-300);
  --outline-danger-med-em: var(--color-danger-600);
  --outline-danger-low-em: var(--color-danger-800);
  --outline-danger-base-em: var(--color-danger-950);
  --outline-danger_alpha: var(--color-danger-500_alpha_40);
  --outline-primary_special_top: var(--color-black-16);
  --outline-primary_special_bottom: var(--color-black-32);
  --outline-secondary_special_top: var(--color-white-4);
  --outline-secondary_special_bottom: var(--color-white-4);
  --outline-none: var(--transparent_white);

  --neutral_inverse_white-alpha_4: var(--color-white-4);
  --neutral_inverse_white-alpha_7: var(--color-white-7);
  --neutral_inverse_white-alpha_12: var(--color-white-12);
  --neutral_inverse_white-alpha_16: var(--color-white-16);
  --neutral_inverse_white-alpha_24: var(--color-white-24);
  --neutral_inverse_white-alpha_32: var(--color-white-32);
  --neutral_inverse_white-alpha_48: var(--color-white-48);
  --neutral_inverse_white-alpha_56: var(--color-white-56);
  --neutral_inverse_white-alpha_64: var(--color-white-64);
  --neutral_inverse_white-alpha_76: var(--color-white-72);
  --neutral_inverse_white-alpha_88: var(--color-white-88);
  --neutral_inverse_black-alpha_4: var(--color-black-4);
  --neutral_inverse_black-alpha_7: var(--color-black-7);
  --neutral_inverse_black-alpha_12: var(--color-black-12);
  --neutral_inverse_black-alpha_16: var(--color-black-16);
  --neutral_inverse_black-alpha_24: var(--color-black-24);
  --neutral_inverse_black-alpha_32: var(--color-black-32);
  --neutral_inverse_black-alpha_48: var(--color-black-48);
  --neutral_inverse_black-alpha_56: var(--color-black-56);
  --neutral_inverse_black-alpha_64: var(--color-black-64);
  --neutral_inverse_black-alpha_76: var(--color-black-72);
  --neutral_inverse_black-alpha_88: var(--color-black-88);

  --elevation-shadow: var(--color-black-12);
  --overlay-high_em: var(--color-white-7);
  --overlay-med_em: var(--color-white-4);
  --transparent_inverse: var(--transparent_black);
}
