@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSauceTwo";
}
@font-face {
  font-family: "OpenSauceTwo";
  src: url("/fonts/open-sauce-two-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("/fonts/open-sauce-two-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("/fonts/open-sauce-two-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("/fonts/open-sauce-two-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: url("/fonts/open-sauce-two-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
